@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

/* Scroll */

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e6e6e6;
}

a {
  color: #298dff;
  text-decoration: none;
}

a:hover {
  color: blue;
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  body {
    /* font-size: 16px; */
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
}

/* Extra large devices (smart tv HD, 1200px and up) */

@media (min-width: 1200px) {
}

/* Ultra large devices (smart tv Full HD, 1200px and up) */

@media (min-width: 1920px) {
}