@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;900&display=swap');

body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

/* Scroll */

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 4px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #353535;
}

a:hover {
  text-decoration: none;
}

.container, .container-fluid {
  margin-top: 60px;
  padding: 40px;
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  body {
    font-size: 16px !important;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
}

/* Extra large devices (smart tv HD, 1200px and up) */

@media (min-width: 1200px) {
}

/* Ultra large devices (smart tv Full HD, 1200px and up) */

@media (min-width: 1920px) {
}