
.inp {
  background-color: #FFFFFF;
  border: 2px solid #dee2e6;
  color: #303133;
  min-height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.inp.small {
  min-height: 32px;
  padding: 0 10px;
  font-size: 12px;  
}

.inp.large {
  min-height: 60px;
  padding: 0 20px;
  font-size: 18px;  
}

/*.btn:last-child, a .btn:last-child{
	margin-right: 0 !important;
}*/

.inp.primary {
	background-color: #3B82F6;
	border: 1px solid #3B82F6;
	color: #FFFFFF;
}

.inp.primary.disabled, .btn-primary:disabled {
	background-color: #E5E5E5;
	border-color: #E5E5E5;
	color: #85A2BB;
}

.inp-w100 {
	width: 100%;
}