.modal-wrapper {
  background-color: rgb(0 0 0 / 70%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background-color: #FFFFFF;
  width: 100%;
  max-width: 780px;
  border-radius: 10px;
}

.modal-wrapper.start-animation {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: .2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.modal-box.start-animation {
  opacity:1;
  z-index:2;
  animation: show .3s;
  transform: scale(1);
}

@keyframes show {
  from {
    transform: scale(0);
    opacity:0;
    z-index:-1;       
  } to {
    transform: scale(1);
    opacity: 1;
    z-index:2;
  }

  from {
    transform: translateY(200px);
  } to {
    transform: translateY(0);
  }
}

.end-animation {
  z-index:-1;
  opacity:0;
  animation: hide .25s;
  transform: scale(0);
}

@keyframes hide {
  from{
      z-index:2;
  transform: scale(1);
    opacity:1;
  } to{
      z-index:-1;
  transform: scale(0);
    opacity: 0;
  }
}

.modal-header {
  position: relative;
}

.modal-container {
  padding: 40px;
}

.modal-content {
  display: flex;
  min-height: 200px;
  margin-bottom: 20px;
}

.modal-bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.modal-btn-close {
  height: 32px;
  width: 32px;
  background-color: transparent;
  border: 0px solid;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 10px;
  top: 10px;
  position: absolute;
}