.side-menu {
  /*background-image: url('../../assets/img/bg-side-menu.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;*/
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 80vh;
  padding: 10px 20px;
  background-color: #EEF4FE;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 0;
}

.side-menu .logo-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
}

.side-menu .logo {
  background-image: url('../../assets/img/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: block;
  width: 100%;
  height: 38px;
}

.side-menu .menu {
  display: flex;
  flex-direction: column;
}

.side-menu .menu-icon-link {
  display: flex;
}

.side-menu .menu-icon-link {
  margin-left: -20px;
  margin-right: -20px;
}

.side-menu a.menu-icon-link {
  color: #303133;
  font-size: 18px;
  padding: 20px 40px;
}
/*
.side-menu a.menu-icon-link:hover {
  border-left: 4px solid #35C7A6;
}*/

.side-menu a.menu-icon-link .content {
  margin-left: 10px;
}


.side-menu a.menu-icon-link:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-left: 8px solid #35C7A6;
}

@keyframes show {
  from {
    transform: scale(0);
    opacity:0;
    z-index:-1;       
  } to {
    transform: scale(1);
    opacity: 1;
    z-index:2;
  }
/*
  from {
    transform: translateY(200px);
  } to {
    transform: translateY(0);
  }*/
}